@import "partials/header";
@import "partials/main";
@import "partials/footer";

* {
    box-sizing: border-box;
    font-family: "Public Sans", serif;
}

body {
    margin: 0;
}

p {
    line-height: 1.5;
    color: hsl(233, 8%, 62%);
}

.button-container {
    width: fit-content;

    button {
        padding: 0.75rem;
        border-radius: 30px;
        border: none;
        color: white;
        width: 145px;
        background: linear-gradient(130deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }
}

@media screen and (max-width:769px) {
    .button-container {
        width: fit-content;
    
        button {
            padding: 0.9rem;
            border-radius: 30px;
            border: none;
            color: white;
            width: 163px;
            background: linear-gradient(130deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
            cursor: pointer;
            transition: all 0.3s ease;
    
            &:hover {
                opacity: 0.7;
            }
        }
    }
}